.class-course {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding-top: 40px;
}
.div-table {
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .input-class {
    margin-top: 10px;
    width: 350px;
  }
}
