.mtz-university-subjects {
    position: relative;

    .mtz-university-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-typography {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #474d66;
        }

        .reverse-btn {
            display: flex;
            align-items: center;
            flex-flow: row-reverse;
            background: #f3f6ff;
            color: #3366ff;
            font-weight: 500;
            border: 1px solid #f3f6ff;

            .anticon-caret-right {
                margin-left: 8px !important;
            }

            span {
                margin-inline-start: unset !important;
            }
        }
    }
    .slick-slide {
        padding: 5px;
    }

    .ant-card {
        width: auto !important;
        background: #ffffff;
        border: 1px solid #edeff5;
        margin-bottom: 10px;
        flex-grow: 1;
        max-height: 286px;
        .ant-card-cover {
            img {
                width: 100%;
                background-size: cover;
            }
        }

        .ant-card-meta-description {
            color: #8f95b2;

            span {
                font-size: inherit;
                color: #2952cc;
            }
        }
    }
}
.slick-prev:before,
.slick-next:before {
    content: '';
}
//.slick-prev{
//  left: 0 !important;
//}
