@import '../../components/GlobalStyles/responsive.scss';

.courseMain {
  .courseAction {
    position: fixed !important;
    bottom: 55px;
    left: 0;
    right: 0;
    top: auto !important;
    height: auto !important;
    z-index: 10;

    & > :first-child {
      position: relative;
      padding: 24px 24px 8px 24px;
      border-radius: 4px;
      .playIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px;
        height: 50px;
        width: 50px;
        background-color: var(--whiteBg);
        border-radius: 50%;
        svg {
          color: var(--green);
          font-size: 40px;
        }
      }
      &:hover .playIcon {
        display: none;
      }
    }
    .icon {
      color: var(--green);
    }

    .buttonAction {
      display: block;
    }
    .price,
    .buy {
      width: 100%;
      * {
        font-weight: bold;
        font-size: 18px;
      }
    }
    .price {
      color: var(--green) !important;
      border: 1px solid var(--green);
      padding: 10px 13px !important;
      &:hover {
        & * {
          color: var(--white) !important;
        }
        border: 1px solid var(--green);
        background-color: var(--green);
      }
    }
    .buy {
      color: var(--white);
      border: 1px solid var(--green);
      background-color: var(--green);
      &:hover {
        & * {
          color: var(--green);
        }
        border: 1px solid var(--green-2);
        background-color: var(--greenBg);
      }
    }
    .courseInfor,
    & > :first-child {
      display: none;
    }

    @include respond-to(lg) {
      position: sticky !important;
      margin-top: -140px;
      margin-right: 24px;
      max-height: 98vh;
      margin-bottom: 50px;
      height: auto !important;
      top: 15px !important;
      z-index: 1;
      .buttonAction {
        display: none;
      }
      .courseInfor,
      & > :first-child {
        display: block;
      }
    }
    @include respond-to(xl) {
      position: sticky !important;
      margin-top: -140px;
      margin-right: 24px;
      max-height: 98vh;
      margin-bottom: 50px;
      height: auto !important;
      top: 15px !important;
      z-index: 1;
      .buttonAction {
        display: none;
      }
      .courseInfor,
      & > :first-child {
        display: block;
      }
    }
  }
}

.price {
  color: var(--green) !important;

  &:hover {
    & * {
      color: var(--white) !important;
    }
    border: 1px solid var(--green) !important;
    background-color: var(--green) !important;
  }
}
