.docment-upload-modal {
    .ant-checkbox-wrapper {
        width: 100%;
    }
    .ant-modal-footer {
        display: flex !important;
        justify-content: space-between !important;
        button {
            width: 50%;
        }
    }
    .ant-checkbox-group {
        display: block;
        .ant-checkbox-wrapper {
            margin-inline-start: 0px;
        }
    }
    .checkbox-school {
        padding-left: 10px;
        max-height: 310px;
        overflow-y: auto;
        padding-top: 5px;
        .checkbox-item {
            padding: 5px 0;
        }
    }
    .ck {
        &.ck-content {
            min-height: 150px;
        }
    }
}
