.body {
  .cateTitle {
    align-self: stretch;
    font-size: 20px;
    font-weight: 700;
  }
  .topicTitle {
    color: var(--purple-dark);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    &:hover {
      color: var(--purple);
    }
  }
  .studentCount {
    color: var(--gray-silver-chalice);
    font-size: 14px;
    font-weight: 400;
  }
  .item {
    margin: 44px 0;
  }
}
