.boxFeedback {
  max-width: 660px;
  margin-top: 70px;
  padding: 0 10px;
}
.icon {
  margin-top: 5px;
  font-size: 22px;
  color: #e39718;
}
.flex {
  margin: 20px 0;
  gap: 5px;
  display: flex;
  align-items: center;
}
.flexText {
  font-size: 22px;
  font-weight: 700;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px; /* Khoảng cách giữa các grid item */
  padding: 10px;
}

.gridItem {
  border-top: 1px solid #d1d7dc;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  gap: 20px;
  // background-color: #eee;
  padding: 20px 0;
}
.topBoxFeedback {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.topBoxFeedbackLeft {
  display: flex;
  align-items: center;
  gap: 5px;
}

.name {
  margin-left: 7px;
  font-weight: 700;
}
.some {
  margin-top: 5px;
  display: flex;
  font-weight: 500;
  font-size: 12px;
}
.more {
  cursor: pointer;
}

.more {
  :global {
    .ant-popover {
      .ant-popover-inner {
        max-width: 80px !important;
      }
    }
  }
}
.tooltipTitle {
  cursor: pointer;
  padding: 10px 5px;
  color: #000;
  font-weight: 600;
}
.tooltipTitle:hover {
  cursor: pointer;
  padding: 10px 5px;
  color: #d72831;
  font-weight: 600;
}
.paragraph {
  margin-top: 20px;
}
.buttonPara {
  margin-top: 5px;
  display: inline-block;
  font-weight: 500;
  padding: none;
  font-size: 14px;
  border: none;
  text-decoration: underline;
}
.boxLike {
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  gap: 10px;
}
.textLike {
  font-size: 14px;
  font-weight: normal;
}
.like {
  font-size: 18px;
  cursor: pointer;
}
.disLike {
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
  transform: scaleX(-1);
}
