@import '../../../GlobalStyles/responsive.scss';

.menu {
  position: relative;
  background-color: var(--green);
  z-index: 999;
  border-top: 1px solid var(--gray86);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.08);

  @include respond-to(xs) {
    background-color: var(--whiteBg);
  }
  @include respond-to(sm) {
    background-color: var(--whiteBg);
  }
  @include respond-to(md) {
    background-color: var(--whiteBg);
  }
  .menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navMb {
      padding: 10px 0;
      .title {
        font-size: 11px;
      }
      color: var(--light-gray3);
      &:hover {
        color: var(--green);
      }
      .labelIcon {
        svg {
          font-size: 25px;
        }
        * {
          text-align: center;
        }
      }

      .icon-active {
        display: none;
      }
      .icon-unActive {
        display: block;
      }
    }
    .navActive {
      color: var(--green);

      .icon-unActive {
        display: none;
      }
      .icon-active {
        display: block;
      }
    }
    .menuLabel {
      transition: 0.3s;
      cursor: pointer;
      color: var(--white);
      .title {
        color: var(--white);
      }

      .chilMenu {
        display: none;
      }
      &:first-child {
        .labelItem {
          position: relative;
          padding: 15px 10px 15px 0;
        }
      }
      &:last-child {
        .labelItem {
          position: relative;
          padding: 15px 0 15px 10px;
        }
      }
      .labelItem {
        color: var(--white);
        position: relative;
        padding: 15px 10px;
      }

      &:hover {
        color: var(--defaultColor);
        .labelItem {
          .arr {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid var(--white);
          }
        }
        .chilMenu {
          position: absolute;
          left: 0;
          right: 0;
          background: var(--whiteBg);
          color: var(--black);
          display: flex;
          padding: 24px;
          box-shadow:
            0 2px 4px rgba(0, 0, 0, 0.08),
            0 4px 12px rgba(0, 0, 0, 0.08);
          z-index: 1020;
          min-height: 200px;
          transition: 0.3s;
          .sub-menu {
            margin: 10px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-row-gap: 24px;
            .chil {
              position: relative;
              transition: 0.3s;
              cursor: pointer;

              .chilTitle {
                color: var(--green);
                text-transform: uppercase;
              }
              &:hover {
                color: #a70a00;
              }
              // .lastTitle {
              //   margin-left: 10px;
              // }
            }
          }
        }
      }
    }
  }
  .butt-auth {
    background: var(--red);
    color: white;
    height: 50px;
    button {
      border-radius: 0;
      color: white;
    }
    .butt-item {
      height: 50px;
    }
  }
  .avtDrop {
    padding: 5px 0;
  }
}

.verifyInfo {
  width: 100%;
  background-color: white;
  text-align: center;
  color: #a70a00;
  padding: 15px 0;
}
.btn-ms {
  margin-left: 20px;
}

.nav-icon {
  & > * {
    display: flex;
    & > svg {
      margin-left: 5px;
    }
  }
}
