$color: #8f8f8f;
$color2: #e8f380;
.affix-main {
    font-size: 15px !important;
}
.nav-fixed {
    // right: 0;
    // left: 0;
    // margin-top: 0;
}
.navn-fixed {
    margin-top: -100px;
}

.mtz-nav-main {
    z-index: 999;
    transition: 0.3s;
    width: 100%;
    .title {
        font-size: 15px !important;
    }
    .logo {
        margin: 18px 0;
        width: auto;
        height: 48px;
    }
    .phoneIcon {
        width: 42px;
        height: 42px;
        padding: 10px;
        text-align: center;
        background-color: var(--bgColor2);
        color: white;
        border-radius: 12px;
        font-size: 20px;
    }
    .hotline {
        font-size: 12px;
    }
    .lang-change {
        width: 80px;
        .ant-select-selection-item {
            padding-inline-end: 0;
        }
    }
    .select-pop {
        background: #0e3a23;
    }
}
