@import '../../GlobalStyles/responsive.scss';

.affix-main {
  font-size: 15px !important;
}

.uc-nav-main {
  position: relative;
  background-color: var(--whiteBg);
  z-index: 999;
  transition: 0.3s;
  width: 100%;
  padding: 18px 0;

  @include respond-to(xs) {
    border-bottom: 2px solid var(--borderColor);
    padding: 10px 0;
  }

  @include respond-to(sm) {
    border-bottom: 2px solid var(--borderColor);
    padding: 12px 0;
  }

  @include respond-to(md) {
    border-bottom: 2px solid var(--borderColor);
    padding: 15px 0;
  }

  .title {
    font-size: 15px !important;
  }

  .logo {
    margin: 18px 0;
    width: auto;
    height: 48px;
  }
  .phoneIcon {
    width: 42px;
    height: 42px;
    padding: 10px;
    text-align: center;
    background-color: var(--green);
    transform: rotate(5deg);
    color: whitesmoke;
    border-radius: 25px;
    font-size: 20px;
    transform-origin: 50% 50%;
    animation: phone-ring 0.8s infinite ease-in-out;
    &::after {
      content: "";
      position: absolute;
      top: 31px;
      border: 10px solid;
      left: -5px;
      transform: rotate(42deg);
      border-color: var(--green) transparent transparent transparent;
    }
  }
  @keyframes phone-ring {
  0% {
      transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
      transform: rotate(-15deg) scale(1) skew(1deg);
  }
  20% {
      transform: rotate(15deg) scale(1) skew(1deg);
  }
  30% {
      transform: rotate(-15deg) scale(1) skew(1deg);
  }
  40% {
      transform: rotate(15deg) scale(1) skew(1deg);
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg);
  }
  }

  .cartIcon {
    width: 42px;
    height: 42px;
    padding: 10px;
    text-align: center;
    // background-color: var(--red);
    // color: white;
    border: 2px solid var(--black);
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: var(--red);
      border: 2px solid var(--red);
    }
  }

  .hotline {
    font-size: 12px;
  }

  .lang-change {
    width: 90px;

    .ant-select-selection-item {
      display: flex;
      padding-inline-end: 0;
    }
  }
}