/* Dành cho điện thoại */
@media all and (min-width: 280px) {
    .prf-container {
        position: relative;

        .prf-background {
            height: 250px;
            width: 100%;
            background-color: black;
            border-radius: 15px 15px 0 0;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                object-fit: cover;
            }
            .bg-upload {
                padding: 8px 16px;
                background: white;
                position: absolute;
                bottom: 20px;
                right: 20px;
                p {
                    display: none;
                    margin: 0;
                }
            }
        }
        .prf {
            width: 100%;

            border-bottom: 1px solid rgb(235, 235, 235);
            margin: -50px auto 0;
            padding: 0;

            .prf-avt {
                position: relative;
                width: 150px;
                height: 150px;
                margin: 0 auto;
                margin-top: -60px;

                .avt {
                    overflow: hidden;
                    border: 5px solid #ffffff;
                    border-radius: 50%;
                    height: 100%;
                    background-color: white;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .avt-upload {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 6px;
                    gap: 10px;
                    right: 5px;
                    bottom: 5px;
                    padding: 8px;
                    font-size: 18px;
                    background: #ffffff;
                    z-index: 10;
                }
            }
            .prf-name * {
                margin: 0 auto;
            }
            .prf-name {
                margin: 20px 0 0 0;
                text-align: center;

                h3 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    color: #0d84e0;
                }
                p {
                    margin: 5px 0;
                }
            }
            .prf-intro {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;

                .follow {
                    padding: 5px 10px;
                    background: #f3f9fd;
                    /* Neutral/Neutral5 */

                    border: 1px solid #edeff5;
                    border-radius: 12px;
                    margin-right: 24px;
                }
                .prf-edit-button {
                    /* Neutral/Neutral 6 */
                    background: #f9fafc;
                    /* Neutral/Neutral 4 */
                    margin: 0 auto;
                }
            }
        }
    }
}
.social {
    ul {
        display: flex;
        li {
            padding: 5px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            background-color: #eeeeee;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 5px;
        }
    }
}
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
}

/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {
}

/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
    .prf-container {
        position: relative;
        margin: 15px 0 30px 0;
        .prf-background {
            height: 394px;
            width: 100%;
            background-color: black;
            border-radius: 15px 15px 0 0;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                object-fit: cover;
            }
            .bg-upload {
                padding: 8px 16px;
                background: white;
                position: absolute;
                bottom: 20px;
                right: 20px;
                p {
                    display: block;
                    margin: 0 0 0 5px;
                }
            }
        }
        .prf {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: -50px;
            border-bottom: 1px solid rgb(235, 235, 235);

            padding: 0 25px 30px 0;
            .prf-info {
                display: flex;
                margin-left: 20px;
            }
            .prf-avt {
                position: relative;
                width: 150px;
                height: 150px;
                margin-left: 25px;
                margin: 0 auto;

                .avt {
                    overflow: hidden;
                    border: 5px solid #ffffff;
                    border-radius: 50%;
                    height: 100%;
                    background-color: white;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .avt-upload {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 6px;
                    gap: 10px;
                    right: 5px;
                    bottom: 5px;
                    padding: 8px;
                    font-size: 18px;
                    background: #ffffff;
                    z-index: 10;
                }
            }
            .prf-name * {
                margin: 0;
            }
            .prf-name {
                margin: 65px 0 0 20px;
                text-align: left;

                h3 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    color: #0d84e0;
                }
                p {
                    margin: 5px 0;
                }
                .social {
                    ul {
                        display: flex;
                        li {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            padding: 5px;
                            background-color: #eeeeee;
                            border-radius: 50%;
                            margin-right: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .prf-intro {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 65px;

                .follow {
                    padding: 5px 10px;
                    background: #f3f9fd;
                    /* Neutral/Neutral5 */

                    border: 1px solid #edeff5;
                    border-radius: 12px;
                    margin-right: 24px;
                }
                .prf-edit-button {
                    /* Neutral/Neutral 6 */

                    background: #f9fafc;
                    /* Neutral/Neutral 4 */
                    margin: 0;
                }
            }
        }
    }
}
