.upload-form {
    .ant-upload,
    .ant-upload-list-item,
    .ant-upload-list-item-done,
    .ant-upload-list-item-container {
        height: 130px !important;
        width: 100% !important;
    }
    .ant-upload-list-item-thumbnail {
        img {
            object-fit: cover !important;
        }
    }
}
