.menu {
    padding: 14px 0;
}
.mtz-prf-course-main {
    .edu-infor {
        text-align: left;

        .line {
            height: 8px;
            background: rgb(232, 232, 232);
            position: relative;
            border-radius: 4px;
            .line-complete {
                width: 68%;
                height: 8px;
                border-radius: 4px;
                background: #fd7c48;
            }
        }
    }
    .card-img {
        background-color: black;
        max-height: 60vh;
        object-fit: contain;
    }
}
