/* Dành cho điện thoại */
@media all and (min-width: 280px) {
    .mtz-prf-course-main {
        padding: 10px 5px;
        position: relative;
        width: 100%;
        .prf-rate {
            display: none;
        }
        .prf-d-title {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .prf-d-rate {
            display: block;
        }
        .course,
        .edu-infor {
            padding: 24px;
            border-radius: 8px;
            background-color: #f8fbff;
            img {
                width: 100%;
                max-height: 435px;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .course {
            text-align: center;
            width: 96%;
            margin: 0 auto;
            .title-download {
                button {
                    margin-bottom: 10px;
                }
            }
        }

        .edu-infor {
            margin: 20px auto;

            text-align: center;

            .line {
                height: 8px;
                background: rgb(232, 232, 232);
                position: relative;
                border-radius: 4px;
                .line-complete {
                    width: 68%;
                    height: 8px;
                    border-radius: 4px;
                    background: #fd7c48;
                }
            }
        }
        .documet-main {
            display: inline-block;

            .main-path {
                margin: 0 auto;
                width: 95%;
                display: grid;
                grid-template-columns: repeat(1, 2fr);
                grid-gap: 25px;

                .path {
                    height: 212px;

                    border-radius: 6px;
                    overflow: hidden;
                    background-color: #f8fbff;
                    border: 1px solid #edeff5;
                    position: relative;

                    .lock,
                    .blur {
                        position: absolute;
                        inset: 0;
                        background-color: rgba(0, 0, 0, 0.574);
                    }

                    .desc {
                        padding: 5px 15px;
                        height: 110px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 650px) {
    .mtz-prf-course-main {
        .prf-rate {
            display: block;
        }
        .prf-d-title {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .prf-d-rate {
            display: none;
        }
        padding: 30px 25px;
        position: relative;
        width: 100%;
        .course,
        .edu-infor {
            padding: 24px;
            border-radius: 8px;
            background-color: #f8fbff;
            margin: 0;
            text-align: left;

            img {
                width: 100%;
                max-height: 435px;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .course {
            text-align: left;
            width: 65%;
            .title-download {
                display: flex;
                justify-content: space-between;
            }
        }
        .edu-infor {
            .line {
                height: 8px;
                background: rgb(232, 232, 232);
                position: relative;
                border-radius: 4px;
                .line-complete {
                    width: 68%;
                    height: 8px;
                    border-radius: 4px;
                    background: #fd7c48;
                }
            }
        }
        .documet-main {
            display: flex;
            justify-content: space-between;
            .intro-sz {
                width: 33%;
            }
            .main-path {
                width: 65%;
            }
        }
    }
}

/* Dành cho máy tính để bàn */
@media all and (min-width: 1920px) {
    .mtz-prf-course-main {
        .prf-rate {
            display: block;
        }
        .prf-d-title {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .prf-d-rate {
            display: none;
        }
        padding: 30px 180px;
        position: relative;
        width: 100%;
        .course,
        .edu-infor {
            padding: 24px;
            border-radius: 8px;
            background-color: #f8fbff;
            text-align: left;

            img {
                width: 100%;
                max-height: 435px;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .course {
            text-align: left;
            width: 75%;
            .title-download {
                display: flex;
                justify-content: space-between;
            }
        }
        .edu-infor {
            .line {
                height: 8px;
                background: rgb(232, 232, 232);
                position: relative;
                border-radius: 4px;
                .line-complete {
                    width: 68%;
                    height: 8px;
                    border-radius: 4px;
                    background: #fd7c48;
                }
            }
        }
        .documet-main {
            display: flex;
            justify-content: space-between;
            .intro-sz {
                width: 24%;
            }
        }
    }
}

/* Dành cho laptop */
@media all and (min-width: 1280px) {
    .mtz-prf-course-main {
        .prf-rate {
            display: block;
        }
        .prf-d-title {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .prf-d-rate {
            display: none;
        }
        padding: 30px 180px;
        position: relative;
        width: 100%;
        .course,
        .edu-infor {
            padding: 24px;
            border-radius: 8px;
            background-color: #f8fbff;
            img {
                width: 100%;
                max-height: 435px;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .course {
            width: 75%;
        }
        .edu-infor {
            text-align: left;

            .line {
                height: 8px;
                background: rgb(232, 232, 232);
                position: relative;
                border-radius: 4px;
                .line-complete {
                    width: 68%;
                    height: 8px;
                    border-radius: 4px;
                    background: #fd7c48;
                }
            }
        }
        .documet-main {
            display: flex;
            justify-content: space-between;
            .intro-sz {
                width: 24%;
            }
            .main-path {
                width: 75%;
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                grid-gap: 25px;

                .path {
                    height: 212px;

                    border-radius: 6px;
                    overflow: hidden;
                    background-color: #f8fbff;
                    border: 1px solid #edeff5;
                    position: relative;

                    .lock,
                    .blur {
                        position: absolute;
                        inset: 0;
                        background-color: rgba(0, 0, 0, 0.574);
                    }

                    .chapter {
                        padding: 14px;
                        background-color: white;
                    }
                    .desc {
                        height: 110px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
.threeline {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
