.test-detail-conainer {
    position: relative;

    .mtz-test-detail {
        display: block;

        .header-timer {
            h4 {
                font-weight: 500;
                font-size: 20px;
                color: #101840;
            }

            .tag-label {
                font-size: small;
                font-weight: 500;
                color: #0d84e0;
                background-color: #f3f9fd;
            }
        }

        .action-footer {
            color: #8f95b2;
            margin: 20px 0;
            svg {
                font-size: 18px;
            }

            .check-again:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .list-question {
            margin-top: 20px;
            margin-bottom: 20px;
            .question-info {
                font-weight: 500;
                font-size: 16px;
                color: #101840;
            }

            .question-box-3 {
                .ant-radio-wrapper {
                    margin-bottom: 20px;
                    word-break: break-word;
                }

                .ant-radio-group-outline {
                    display: grid;
                }
            }
            .question-box-2 {
                .ant-radio-wrapper {
                    max-width: 650px;
                    width: 100%;
                    word-break: break-word;
                }
            }
            .ant-checkbox-wrapper {
                margin-bottom: 20px;
                word-break: break-word;
            }
        }
    }
    .reverse-btn {
        display: flex;
        align-items: center;
        flex-flow: row-reverse;

        .anticon-caret-right {
            margin-left: 8px !important;
        }

        span {
            margin-inline-start: unset !important;
        }
    }

    .mtz-test-action-group {
        display: flex;
        justify-content: center;

        button {
            min-width: 120px;
        }
    }
}

.test-result-container {
    position: relative;

    .test-result-box {
        width: 40%;
        margin: auto;
        background: #ffffff;
        border: 1px solid #edeff5;
        padding: 0px 20px;

        .grey-label {
            color: #8f95b2;
        }
    }

    .ant-progress-line,
    .score-number {
        position: relative;
        width: 50% !important;
        left: 50%;
        transform: translate(-50%, 10px);
    }

    .score-number {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 600;
    }
}
