@import './responsive.scss';
@import '../../assets/styles/index.scss';

:root {
  --black: #3f3c4c;
  --blackBg: #1f1e1f;
  --white: white;
  --whiteBg: white;
  --lighish-white: #f7f9fa;
  --gray: #1c1d1f;
  --light-gray: #8f95b2;
  --light-gray2: #242528;
  --light-gray3: #3e4143;
  --red: #d72831;
  --red-2: #ff636f;
  --green: #019d44;
  --green-2: #0ec25c;
  --transparent: transparent;
  --borderColor: #e7e7e7;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.4;
  direction: 1tr;
  unicode-bidi: embed;
  width: 100%;
  height: 100%;
  font-family: 'SVN normal';
  font-weight: 400;
  overflow-x: hidden;
  background-color: white;
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
}
.uc-container {
  width: min(100% - 15px, 1330px);
  margin-inline: auto;
  @include respond-to(xs) {
    padding: 0 10px;
    width: 100%;
  }
  @include respond-to(sm) {
    padding: 0 10px;
    width: 100%;
  }
  @include respond-to(md) {
    padding: 0 10px;
    width: 100%;
  }

  @include respond-to(lg) {
    padding: 0 10px;
    width: 100%;
  }
}

.uc-container-2 {
  width: 100%;
  margin-inline: auto;
}

.uc-container-3 {
  width: min(100% - 400px, 1330px);
  margin-inline: auto;
  @include respond-to(xs) {
    width: 100%;
  }
  @include respond-to(sm) {
    width: 100%;
  }
  @include respond-to(md) {
    width: 100%;
  }

  @include respond-to(lg) {
    width: 100%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.carousel-cuttom {
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    font-size: 20px;
  }
  .slick-arrow.slick-prev {
    margin-left: -15px;
  }

  .slick-next::before,
  .slick-prev::before {
    color: currentColor;
    content: '';
  }
  .slick-dots-bottom {
    bottom: -50px;
  }
  .slick-dots li {
    width: 8px;
    height: 8px;
    button {
      height: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .slick-dots li.slick-active {
    width: 8px;
  }
}

.ant-collapse-header {
  align-items: center !important;
}

.ant-typography.ant-typography-ellipsis.ant-typography-ellipsis-multiple-line.css-dev-only-do-not-override-txh9fw {
  margin-bottom: 0 !important;
}
.ant-typography.ant-typography-ellipsis.ant-typography-ellipsis-multiple-line._title_k5ogj_19.css-dev-only-do-not-override-k7rw7n {
  margin: 0 !important;
}

.sticky {
  position: sticky;
  top: 10px;
}

.link {
  color: var(--red);
  &:hover {
    text-decoration: underline;
  }
}
.custom-butt-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  .anticon {
    font-size: 20px !important;
  }
}

.ant-btn-primary {
  box-shadow: none;
  font-weight: 400;
}

.ant-btn-default {
  font-weight: 400;
  &:hover {
    background-color: #0000000a;
  }
}

.ant-btn-link:hover {
  font-weight: 600;
}
.ant-dropdown-menu-item:hover * {
  color: var(--indigo);
}
.ant-list-item {
  display: block !important;
}

.ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu.ant-menu-inline-collapse {
  border: none !important;
}
.ant-menu-item {
  font-size: 16px;

  // :hover * {
  //   color: var(--red) !important;
  // }
}
.ant-tabs-nav .ant-tabs-nav-wrap {
  justify-content: center;
  @include respond-to(sm) {
    justify-content: flex-start;
    padding: 0 10px;
  }
  @include respond-to(xs) {
    justify-content: flex-start;
    padding: 0 10px;
  }
}
:where(.css-dev-only-do-not-override-1ld4x6i).ant-carousel .slick-dots li button {
  // background-color: var(--red);
}
.dangerHTMLTwoLine {
  white-space: break-spaces;
  overflow: hidden;
  height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.userContainer {
  padding: 15px 150px;
}

.sp100 {
  width: 100%;
}

.ic {
  font-size: 22px;
}

.flag-select {
  display: flex;
}

.p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hide the scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as per your preference */
  background-color: transparent; /* Set the background color of the scrollbar track */
}

/* Add a hover effect to show the scrollbar on hover */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Set the background color on hover */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-gray3);
}

/* Hide the scrollbar when not in use */
::-webkit-scrollbar-track-piece {
  background-color: transparent; /* Set the background color of the scrollbar track piece */
  visibility: hidden;
}

/* Show the scrollbar when hovering over the scrollable content */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar:hover {
  visibility: visible;
}
