@import './responsive.scss';
@import '../../assets/styles/index.scss';

:root {
  --black: #3f3c4c;
  --blackBg: #1f1e1f;
  --white: white;
  --whiteBg: white;
  --lighish-white: #f7f9fa;
  --gray: #1c1d1f;
  --light-gray: #c0c1c9;
  --light-gray-2: #868585;
  --light-gray-3: #3e4143;
  --red: #d72831;
  --red-2: #fb9199;
  --green: #019d44;
  --green-2: #0ec25c;
  --greenBg: #21c12130;
  --transparent: transparent;
  --borderColor: #e7e7e7;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.4;
  direction: 1tr;
  unicode-bidi: embed;
  width: 100%;
  height: 100%;
  font-family: 'SVN normal';
  font-weight: 400;
  overflow-x: hidden;
  background-color: white;
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
}
.uc-container {
  width: min(100% - 15px, 1330px);
  margin-inline: auto;
  @include respond-to(xs) {
    padding: 0 10px;
    width: 100%;
  }
  @include respond-to(sm) {
    padding: 0 10px;
    width: 100%;
  }
  @include respond-to(md) {
    padding: 0 10px;
    width: 100%;
  }

  @include respond-to(lg) {
    padding: 0 10px;
    width: 100%;
  }
}

.uc-container-2 {
  width: 100%;
  margin-inline: auto;
}

.uc-container-3 {
  width: min(100% - 400px, 1330px);
  margin-inline: auto;
  @include respond-to(xs) {
    width: 100%;
  }
  @include respond-to(sm) {
    width: 100%;
  }
  @include respond-to(md) {
    width: 100%;
  }

  @include respond-to(lg) {
    width: 100%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.carousel-cuttom {
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    font-size: 20px;
  }
  .slick-arrow.slick-prev {
    margin-left: -15px;
  }

  .slick-next::before,
  .slick-prev::before {
    color: currentColor;
    content: '';
  }
  .slick-dots-bottom {
    bottom: -50px;
  }
  .slick-dots li {
    width: 8px;
    height: 8px;
    button {
      height: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .slick-dots li.slick-active {
    width: 8px;
  }
}

.ant-collapse-header {
  align-items: center !important;
}

.ant-typography.ant-typography-ellipsis.ant-typography-ellipsis-multiple-line.css-dev-only-do-not-override-txh9fw {
  margin-bottom: 0 !important;
}
.ant-typography.ant-typography-ellipsis.ant-typography-ellipsis-multiple-line._title_k5ogj_19.css-dev-only-do-not-override-k7rw7n {
  margin: 0 !important;
}
.checkCustom {
  .ant-checkbox,
  .ant-radio {
    display: none !important;
  }
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  height: 100%;
}

.link {
  color: var(--red);
  &:hover {
    text-decoration: underline;
  }
}

.link-2 {
  color: var(--green);
  &:hover {
    color: var(--green) !important;
    text-decoration: underline;
  }
}

.butt-link {
  color: var(--red);
  border: 1px solid var(--red);
  &:hover {
    background-color: var(--red);
    color: var(--white) !important;
  }
}

.custom-butt-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  & > svg {
    font-size: 20px;
  }
}
.tabCourseCustom {
  margin-top: 30px;
  .ant-tabs-nav {
    background-color: #f5f5f5;
    .ant-tabs-nav-list {
      .ant-tabs-tab {
        padding: 15px 0;
        font-size: 18px;
        font-weight: 500;
        &:hover {
          color: var(--green) !important;
        }
      }

      .ant-tabs-tab-active * {
        color: var(--green) !important;
      }
      .ant-tabs-ink-bar {
        background: var(--green);
      }
      gap: 60px;
      @include respond-to(xs) {
        gap: 0px;
        .ant-tabs-tab {
          font-size: 14px;
          padding: auto;
        }
      }
      @include respond-to(sm) {
        gap: 0px;
        .ant-tabs-tab {
          font-size: 14px;
          padding: auto;
        }
      }
    }
  }
}
.ant-btn-primary {
  box-shadow: none;
  font-weight: 400;
}

.ant-btn-default {
  font-weight: 400;
  &:hover {
    background-color: #0000000a;
  }
}

.ant-btn-link:hover {
  font-weight: 600;
}
.ant-dropdown-menu-item:hover * {
  color: var(--indigo);
}
.ant-list-item {
  display: block !important;
}

.ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu.ant-menu-inline-collapse {
  border: none !important;
}
.ant-menu-item {
  font-size: 16px;

  // :hover * {
  //   color: var(--red) !important;
  // }
}

:where(.css-dev-only-do-not-override-1ld4x6i).ant-tooltip .ant-tooltip-inner {
  min-height: auto;
  min-width: auto;
}

.toastui-calendar-week-view .toastui-calendar-panel:not(.toastui-calendar-time) {
  overflow-y: hidden;
}

.dangerHTMLOneLine {
  white-space: break-spaces;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.dangerHTMLTwoLine {
  white-space: break-spaces;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.dangerHTMLThreeLine {
  white-space: break-spaces;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.dangerHTMLFourLine {
  white-space: break-spaces;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  figure,
  img {
    display: none;
  }
}

.dangerHTMLImg {
  figure,
  img {
    width: 100% !important;
    padding: 10px 0;
  }
}

.userContainer {
  padding: 15px 150px;
}

.sp100 {
  width: 100%;
}

.flag-select {
  display: flex;
}

.p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Toast-Ui Calendar */
.toastui-calendar-timegrid {
  .toastui-calendar-timegrid-now-indicator-left {
    border-top: 1px dashed var(--red-2) !important;
  }
  .toastui-calendar-timegrid-now-indicator-today {
    border-top: 1px solid var(--red) !important;
  }
  .toastui-calendar-timegrid-now-indicator-marker {
    background-color: var(--red) !important;
  }
}

.toastui-calendar-timegrid-time-column {
  .toastui-calendar-timegrid-current-time {
    color: var(--red) !important;
  }
}
.toastui-calendar-grid-cell-date .toastui-calendar-weekday-grid-date.toastui-calendar-weekday-grid-date-decorator {
  background-color: var(--green-2);
}

.toastui-calendar-week-view {
  .toastui-calendar-panel {
    overflow-x: hidden;

    .toastui-calendar-day-name__date {
      @include respond-to(xs) {
        margin-left: -50px;

        font-size: 15px;
      }
    }
    .toastui-calendar-day-name__name {
      margin-left: -5px;
    }
  }
}

.toastui-calendar-column {
  .toastui-calendar-grid-selection {
    .toastui-calendar-grid-selection-label {
      color: var(--green) !important;
    }
    border: 1px solid var(--green-2) !important;

    background-color: #019d4525 !important;
  }
}

.buttJoin {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: var(--red);
  border: none;
  color: var(--white);
  cursor: pointer;
  &:hover {
    background-color: var(--red-2);
  }
}

.disabledButt {
  background-color: var(--light-gray);
  &:hover {
    background-color: var(--light-gray);
  }
  cursor: not-allowed;
}

/* Hide the scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as per your preference */
  height: 6px;
  background-color: transparent; /* Set the background color of the scrollbar track */
}

/* Add a hover effect to show the scrollbar on hover */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Set the background color on hover */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-gray3);
}

/* Hide the scrollbar when not in use */
::-webkit-scrollbar-track-piece {
  background-color: transparent; /* Set the background color of the scrollbar track piece */
  visibility: hidden;
}

/* Show the scrollbar when hovering over the scrollable content */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar:hover {
  visibility: visible;
}
