.topMain {
  position: relative;

  * {
    color: var(--white) !important;
  }
  .bg {
    position: absolute;
    filter: brightness(0.95);
    transform: scaleX(-1);
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .title {
    margin-top: 85px;
  }
}
