.price {
  width: 100%;
}
.title {
  font-weight: bold;
  color: var(--red);
}

.discount {
  text-decoration: line-through;
  color: var(--light-gray);
  font-weight: 400;
}

.free {
  font-size: 20px;
  color: var(--red);
}
