@import '../../../components/GlobalStyles/responsive.scss';

.mtz-cooperate {
  margin-top: 0;
  @include respond-to(xl) {
    margin-top: 50px;
    padding: 15px;
  }
  @include respond-to(xxl) {
    margin-top: 50px;
    padding: 15px;
  }
  text-align: center;

  .mtz-cooperate-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
  }

  .mtz-cooperate-university {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      float: left;
      width: 140px;
      height: 100px;
      object-fit: cover;
    }
  }

  .mtz-dt {
    .mentor-introduce {
      width: 95% !important;
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      .ant-card-body {
        width: 100%;
        .it-main {
          width: 100%;
          & > * {
            width: 100%;
          }
        }
        .image {
          position: relative;

          .logo-img {
            margin: 0 auto;
            height: 140px;
            width: 140px;
            border-radius: 50%;
          }
        }
        .it-butt {
          width: 100%;
          & > * {
            width: 60%;
            button {
              border: 2px solid var(--borderColor);
              width: 100%;
            }
          }
        }
        .sm-butt {
          color: var(--red);
          font-weight: 500;
          border: 2px solid var(--red);
        }
      }
    }
  }
  .oneLine {
    white-space: break-spaces;
    overflow: hidden;
    // height: 33px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.book,
.point2 {
  display: none;
  @include respond-to(xl) {
    display: block;
    position: absolute;
    top: 18%;
  }
  @include respond-to(xxl) {
    display: block;
    position: absolute;
    top: 18%;
  }
}
.book {
  right: 18%;
}
.point2 {
  left: 17%;
}
