@import '../../GlobalStyles/responsive.scss';

.messenger-button {
  animation: ripple 1500ms infinite;
  bottom: 70px;
  @include respond-to(xl) {
    bottom: 30px;
  }
  @include respond-to(xxl) {
    bottom: 30px;
  }
  @include respond-to(lg) {
    bottom: 30px;
  }

  right: 25px;
  height: 45px;
  width: 45px;
  padding: 10px;
  background-color: transparent !important;
  & > * {
    background-color: transparent !important;
  }

  transition: 0.3s;
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    animation: none;
    img {
      width: 112%;
    }
  }
}

@keyframes ripple {
  0% {
    box-shadow:
      0 0 0 0px transparent,
      0 0 0 0px var(--green);
  }
  100% {
    box-shadow:
      0 0 0 0px transparent,
      0 0 0 15px rgba(255, 255, 255, 0);
  }
}
