.flex {
  display: flex;
  align-items: center;
}

.spin {
  padding: 50px;
}
.containerSlider {
  padding: 20px 0 20px 0;
  /* margin: auto; */
  margin: 0 -8px;
}
.title {
  margin-top: 6px !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}
.score {
  color: #b4690e;
  font-weight: 600;
}

.actor {
  font-weight: 400;
  font-size: 12px;
}
.total {
  font-weight: 400;
  font-size: 12px;
}
.price {
  font-weight: 700;
  font-size: 15px;
}
.boxPrice {
  display: flex;
  align-items: center;
  gap: 10px;
}
.delPrice {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
}
.configText {
  font-weight: 300;
  font-size: 12px;
  margin-top: 3px !important;
  margin-bottom: 5px !important;
}
.specialTooltip {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  background-color: #eceb98;
  width: 100px;
}
.special {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  background-color: #eceb98;
  width: 100px;
}

.contentStyle {
  margin-left: 10px;
  margin-right: 10px;
  height: 300px;
  box-shadow: '1';
  line-height: 160px;
  text-align: start;
}
.contentStyle:hover {
  opacity: 0.7;
}
.titleTooltip {
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.titleTooltip:hover {
  cursor: pointer;
  color: #8710d8;
}
.containerTooltip {
  max-width: 300px;
  background-color: white;
  padding: 10px;
}
.flexTooltip {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.time {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #457b72;
  font-size: 12px;
}
.totalTime {
  font-size: 12px;
  font-weight: 300;
}
.decs {
  margin-top: 5px;
  font-weight: 300;
  font-size: 14px;
}
.flexTime {
  display: flex;
  gap: 8px;
  align-items: center;
}
.flexCheck {
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.ulCheck {
  margin-bottom: 18px;
  margin-top: 8px;
}

.containerSlider {
  :global {
    .ant-carousel {
      .slick-slider {
        .anticon.anticon-left.slick-arrow.slick-prev {
          top: 20%;
        }
        .anticon.anticon-right.slick-arrow.slick-next {
          top: 20%;
        }
      }
    }
  }
}
