.ulBox li {
  list-style: inside;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

.boxCommentDetail {
  margin-top: 30px;
  max-width: 660px;
}
.boxRequest {
  margin-top: 70px;
}
