.div-cate {
  max-width: 1200px;
  margin: auto;
  min-height: 50vh;
}
.h2 {
  margin: 50px 0;
  text-align: center;
}

.box-desc {
  img {
    max-width: 100%;
  }
  font-weight: normal;
  padding: 30px 0;
  line-height: 1.4;
}
.pagi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px 0;
}
