.boxScroll {
  max-height: 1000px;
  overflow: scroll;
}
.menuBox {
  max-width: 100%;
  border-bottom: 1px solid #d1d7dc;
}
.divFlexBox {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.divFlexBox:hover {
  background-color: #f2f5f8;
}

.boxContent {
  cursor: pointer;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.onbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flexCol {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 420px;
}
.title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 0;
  line-height: 1.2;
}
.title:hover {
  text-decoration: underline;
  color: #d72831;
}
.img {
  border: 1px solid #d1d7dc;
}
.divBottom {
  font-size: 15px;
  display: flex;
  align-items: center;
}
.dot {
  top: 40%;
  right: -12%;
  border-radius: 100%;
  position: absolute;
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #1e6055;
}
.flexSelectAll {
  font-weight: 700;
  display: flex;
  justify-content: end;
  padding: 20px;
}

.flex {
  display: flex;
  font-size: 12px;
  color: #1e6055;
}
.flexPrice {
  display: flex;
  font-size: 12px;
}
.marginRight {
  font-weight: 800;
  position: relative;
  font-size: 12px;
  margin-right: 16px;
}
.marginRightPrice {
  margin-top: 30px;
  font-weight: 800;
  position: relative;
  font-size: 14px;
  margin-right: 16px;
}

.boxTitle {
  :global {
    .ant-typography.ant-typography-ellipsis.ant-typography-ellipsis-multiple-line {
      margin-bottom: 10px;
    }
  }
}
.boxFlexStar {
  line-height: 1.2;
  display: flex;
  gap: 10px;
}
.icon {
  font-size: 16px;
}

.flexScore {
  margin-top: 3px;
  align-items: start;
  font-size: 14px;
  font-weight: 700;
  color: #e39718;
  gap: 5px;
  display: flex;
  padding-right: 30px;
  min-width: 40px;
}
.font {
  display: flex;
  width: 60px;
}
.font {
  :global {
    .ant-space.ant-space-horizontal.ant-space-align-center {
      align-items: normal;
    }
    .ant-space.ant-space-vertical {
      gap: 0 !important;
      .ant-space-item {
        font-size: 12px;
        align-items: normal;
        text-align: end;
      }
    }
  }
}
.heart {
  margin-top: 3px;
}
.flexStar {
  font-size: 14px;
  color: #e39718;
  font-weight: 600;
  display: flex;
  align-items: start;
}
