.submitButton {
  background-color: var(--purple-dark);
  color: var(--white);
  font-size: 16px;
  font-weight: 700 !important;
  border: none;
  &:hover {
    background-color: var(--purple) !important;
    color: var(--white) !important;
  }
}
