.mtz-ranking {
    @mixin medium {
        @media only screen and (max-width: 1327px) {
            @content;
            padding: 30px 30px;
            margin-top: 0;
        }
    }

    @include medium {
        padding: 30px 80px;
    }

    position: relative;
    padding: 30px 180px 30px 180px;

    .mtz-ranking-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: #795ed5;
        margin-bottom: 30px;
    }

    .ranking-cup {
        position: absolute;
        top: -2%;
        right: -5%;
        z-index: 10;

        img {
            width: 250px;
        }
    }

    .mtz-ranking-header > span {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #474d66;
    }

    .ant-card {
        min-height: 300px;
        background: #f4f7fd;

        .ant-card-head {
            background-color: #fd9267;

            .ant-card-head-title {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: #ffffff;
                text-align: center;
            }
        }

        .ant-card-body {
            padding: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 5%);
            bottom: 2%;

            img {
                width: auto;
            }

            .group-box {
                position: relative;

                img {
                    width: 33px;
                }

                .box1,
                .box2,
                .box3 {
                    width: 100%;

                    div:nth-child(2) {
                        font-weight: 600;
                        font-size: 16px;
                        color: #474d66;
                    }

                    div:nth-child(3) {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #22ad55;
                    }
                }

                .box1 {
                    text-align: left;
                    position: absolute;
                    top: 12%;
                    transform: translate(-50%, -50%);
                }

                .box2 {
                    text-align: center;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -100%);
                }

                .box3 {
                    text-align: right;
                    position: absolute;
                    top: 0%;
                    left: 100%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .tag-ranking {
        display: flex;
        align-items: center;
        margin: 12px 0;
        padding: 10px 22px;
        height: 62px;
        background: #f4f7fd;
        border-radius: 12px;

        .circle-number {
            font-weight: 700;
            font-size: 18px;
            color: #7ea5b1;
            width: 26px;
            height: 26px;
            background: #daf3fb;
            border-radius: 50%;
            display: flex;
            justify-content: center;
        }

        .tag-description {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #283c69;
        }

        .tag-score {
            font-weight: 600;
            font-size: 16px;
            text-align: end;
            color: #22ad55;
        }
    }
}
