.text-end {
  text-align: start;
}

.dashed {
  color: #d72831;
  border: 1px dashed #d72831;
}
.button-flex {
  display: flex;
  justify-content: space-between;
}
.btn-sn {
  margin-left: 20px;
}
.collsape {
  margin-top: 30px;
}

.div-coll {
  color: #d72831;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 10px;
  margin: 10px 0;
  border: 1px solid #d72831;
  border-radius: 5px;
}
.div-coll:hover {
  padding: 15px 10px;
  margin: 10px 0;
  border: 1px dashed #d72831;
  border-radius: 5px;
}

.div-flex {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border: 1px dashed #d72831;
  border-radius: 5px;
}
