.mtz-register {
    height: 100vh;

    .left-row-top {
        height: 40%;

        .content-box {
            height: 100%;

            .title {
                font-weight: 600;
                font-size: 28px;
                line-height: 38px;

                .text-blue {
                    text-decoration: none;
                    cursor: text;
                }
            }

            .title-label {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #8f95b2;
            }
        }
    }

    .left-row-bottom {
        width: 100%;
        display: flex;
        justify-content: center;

        .mtz-logo {
            cursor: pointer;

            img {
                width: 100%;
                height: auto;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    .title {
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: -0.05px;
        color: #304659;
        margin-bottom: 10px;
    }

    .title-label {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.05px;
        color: #8f95b2;
    }

    .text-login-now {
        width: 100%;
        display: flex;
        text-align: center;
        gap: 16px;
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%, -50%);
    }

    .text-link {
        color: #304659;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .ant-upload-select {
        width: 100%;

        span > button {
            text-align: left;
            color: #8f95b2;
            width: 100%;
        }
    }

    .mtz-register-role-select {
        position: relative;

        .mtz-register-form {
            // height: 100%;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            .mtz-role-card {
                display: flex;
                justify-content: space-between;
                // width: 400px;
                min-height: 88px;
                margin: 20px 0;
                background: #f9f9f9;
                box-shadow: 0px 2px 6px rgba(107, 107, 107, 0.15);
                border-radius: 6px;
                cursor: pointer;

                &:hover {
                    border: 1px solid #eb73a0;

                    .card-left > h4 {
                        background: linear-gradient(
                            89.97deg,
                            #0144a9 0.01%,
                            #0078cf 99.97%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .card-left {
                    display: flex;
                    align-items: center;
                    padding-left: 15px;

                    img {
                        width: fit-content;
                        height: fit-content;
                    }
                }

                .card-right {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                }

                .title-role {
                    font-weight: 600;
                    font-size: 20px;
                    padding-left: 10px;
                    line-height: 27px;
                    letter-spacing: -0.05px;
                }
            }
        }
    }

    .mtz-register-form-container {
        width: 100%;
        height: 100%;
        position: relative;

        .form-steps-indicator {
            justify-content: center;
            height: 15%;
            width: 100%;
            .wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                .progess-line {
                    margin-left: 5px;
                    margin-right: 5px;
                    width: 30%;
                    height: 1px;
                    background-color: red;
                }
            }

            .circle {
                position: relative;
                background: #2abf8a;
                border-radius: 100%;
                height: 22px;
                width: 22px;
            }

            .checkMark {
                position: absolute;
                transform: rotate(45deg) translate(-50%, -50%);
                left: 30%;
                top: 45%;
                height: 11px;
                width: 6px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
            }

            .circle-outline {
                position: relative;
                border: 1px solid #a9a9b5;
                border-radius: 100%;
                height: 15px;
                width: 15px;
            }

            .circle-inline {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #a9a9b5;
                border-radius: 100%;
                height: 9px;
                width: 9px;
            }
        }

        .form-body {
            height: 80%;
            display: flex;
            justify-content: center;

            .mtz-register-form {
                width: 90%;
                height: 100%;

                form {
                    margin-top: 20px;

                    label {
                        font-weight: 500;
                    }
                }

                .rgt-certificates {
                    .ant-form-item-explain-error {
                        max-width: 140px;
                    }
                }

                .item-uploaded {
                    padding: 8px 8px 8px 18px;
                    margin-top: 8px;
                    text-decoration: underline;
                    color: #8867e9;
                }
            }
        }

        .form-footer-infor {
            display: flex;
            justify-content: center;
            height: 10%;
            align-items: flex-end;
        }
    }

    .ant-form-item-row {
        padding-bottom: 5px;
    }

    .ant-upload-list-item {
        width: 135px;
        height: 33px !important;
        white-space: break-spaces;
    }

    .ant-upload-list-item-thumbnail {
        display: none !important;
    }

    .ant-upload-list-item-actions {
        display: none;
    }

    .ant-upload-list-item {
        border: none !important;
        border-radius: none !important;
        text-decoration: underline;
        color: #8867e9;
    }
}
