.quiz-detail-conainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    .mtz-test-detail {
        .header-timer {
            h4 {
                font-weight: 500;
                font-size: 20px;
                color: #101840;
            }

            .tag-label {
                font-size: small;
                font-weight: 500;
                color: #0d84e0;
                background-color: #f3f9fd;
            }
        }

        .action-footer {
            color: #8f95b2;

            svg {
                font-size: 18px;
            }

            .quiz-circle {
                width: 24px;
                height: 24px;
                background: #5ca222;
                color: #fff;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }

            .quiz-not-pass {
                background-color: #fff;
                color: #d8dae5;
                border: 1px solid #d8dae5;
            }

            .quiz-flag {
                background: #ff7b00;
            }
        }

        .list-question {
            margin-top: 30px;
            margin-bottom: 30px;

            .question-info {
                font-weight: 500;
                font-size: 16px;
                color: #101840;
            }
        }
    }

    .reverse-btn {
        display: flex;
        align-items: center;
        flex-flow: row-reverse;

        .anticon-caret-right {
            margin-left: 8px !important;
        }

        span {
            margin-inline-start: unset !important;
        }
    }

    .mtz-test-action-group {
        display: flex;
        justify-content: center;

        button {
            min-width: 120px;
        }
    }
}

.box-top {
    margin-top: 0 !important;
}
