.timer {
  display: flex;

  .timeSegment {
    display: block;
    font-weight: bold;
    width: 0.8em;
    height: 1.4em;
    margin: 0.3em 0;
    .segmentDisplay {
      position: relative;
      height: 100%;

      .segmentDisplay__top,
      .segmentDisplay__bottom {
        overflow: hidden;
        text-align: center;
        width: 100%;
        height: 50%;
        position: relative;
      }

      .segmentDisplay__top {
        line-height: 1.3;
        color: var(--white);
        background-color: var(--light-gray-3);
        border-radius: 0.12em 0.12em 0 0;
      }

      .segmentDisplay__bottom {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        line-height: 1.5;
        color: var(--white);
        background-color: var(--blackBg);
        border-radius: 0 0 0.12em 0.12em;
        border-top: 1px solid var(--light-gray-3);
      }
      .segmentOverlay {
        position: absolute;
        top: 0;
        perspective: 400px;
        height: 100%;
        width: 0.8em;

        .segmentOverlay__top,
        .segmentOverlay__bottom {
          position: absolute;
          overflow: hidden;
          text-align: center;
          width: 100%;
          height: 50%;
        }

        .segmentOverlay__top {
          top: 0;
          line-height: 1.3;
          color: var(--white);
          background-color: var(--light-gray-3);
          transform-origin: bottom;
          border-radius: 0.12em 0.12em 0 0;
        }

        .segmentOverlay__bottom {
          bottom: 0;
          line-height: 1.5;
          display: inline-flex;
          align-items: flex-end;
          justify-content: space-evenly;
          color: var(--white);
          background-color: var(--blackBg);
          border-top: 1px solid var(--light-gray-3);
          transform-origin: top;
          border-radius: 0 0 0.12em 0.12em;
        }
      }
      .flip {
        .segmentOverlay__top {
          animation: flip-top 0.8s linear;
        }
        .segmentOverlay__bottom {
          animation: flip-bottom 0.8s linear;
        }
      }
    }
  }
}
.textCountdown {
  .space {
    height: 1.2em;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1em;
    .number {
      font-size: 1em;
      line-height: 1;
    }
    .label {
      font-size: 0.4em;
    }
  }
  .countdownNumber {
    background-color: var(--lighish-white);
    .timeNumber {
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        margin-right: 0.2em;
      }
    }
  }
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
