.mtz-left-sidebar {
    $this: &;

    background: #463e78;
    width: 60px;
    min-width: 60px;
    transition: width 0.4s, min-width 0.4s;
    z-index: 2;

    &__header {
        background: #2baaa7;
        padding: 14px 0px 14px 17px;
        position: relative;
        cursor: pointer;
    }

    &__logo {
        overflow-x: hidden;
        white-space: nowrap;
    }

    &__logo-mark {
        margin-right: 2px;
    }

    &__word-mark {
        opacity: 0;
        display: none;
        transition: all 0.4s;
    }

    &__btn-expand {
        background: #ffffff;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        width: 24px;
        height: 24px;
        position: absolute;
        right: -12px;
        bottom: -12px;
        z-index: 1030;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-180deg);
        transition: transform 0.4s;
        cursor: pointer;
    }

    &__content {
        white-space: nowrap;
    }

    &--expand {
        min-width: 240px;
        width: 240px;

        #{$this}__word-mark {
            opacity: 1;
            display: inline-block;
        }

        #{$this}__btn-expand {
            transform: rotate(0deg);
        }
    }
}
