.footer-heading {
    color: #fd7c48;
    font-size: 16px;
}
.footer-heading:hover {
    text-decoration: none;
}
.footer-title {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    /* word-wrap: break-word; */
    /* text-overflow:ellipsis; */
}
@media (min-width: 320px) and (max-width: 350px) {
    .description-subject {
        margin-top: 130px;
    }
    .subject-filter-right {
        width: 100px !important;
        padding-right: 10px;
    }
}
@media (min-width: 375px) and (max-width: 450px) {
    .description-subject {
        margin-top: 50px;
    }
    .subject-filter-right {
        width: 110px !important;
        padding-right: 10px;
    }
}
@media (min-width: 451px) and (max-width: 600px) {
    .subject-filter-right {
        width: 150px !important;
        padding-right: 10px;
    }
}

@media (max-width: 740px) {
    .footer-title {
        font-weight: 500;
        font-size: 11px;
        color: #ffffff;
        cursor: pointer;
        word-wrap: break-word;
        /* text-overflow:ellipsis; */
    }
    .subject-filter-right {
        /* width: 110px !important; */
        padding-right: 10px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .description-subject {
        margin-top: 50px;
    }
}

.footer-title:hover {
    text-decoration: underline;
}
.mtz-footer-logo > img {
    width: auto;
    height: 33px;
    cursor: pointer;
}

.social-group {
}
.social-group img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
}
