.iconTopBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    border: 2px solid #fff;
    height: 32px;
    background-color: #d72831;
    border-radius: 100%;
}
.iconBotBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    width: 32px;
    height: 32px;
    background-color: #d72831;
    border: 2px solid #fff;
    border-radius: 100%;
}
