.logo {
    padding-right: 20px;
    border-right: 1px solid #eee;
}

.content-wrap {
    border: 1px solid #eeeeee;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-arial);
    color: #000000;
    height: 100%;
}

.content-heading {
    font-family: var(--font-arial);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 20px;
    border-bottom: 1px solid #EEEEEE;
}

.content-desc {
    text-align: center;
    padding: 40px 80px;
}


.content-desc img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 20px 0;
}

.content-sub-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
}

.content-desc button {
    width: 50%;
    height: 60px;
    background-color: var(--primary-100);
    color: #fff;
    text-align: center;
    font-family: var(--font-mont);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 8px;
}








.dotthree {
    overflow: hidden;
    display: -webkit - box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    &.line2 {
        -webkit-line-clamp: 2;
    }

    &.line3 {
        -webkit-line-clamp: 3;
    }
}

.title-list-video {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
    padding: 0;
    margin: 18px 27px 14px 27px;
}

.list {
    box-sizing: border-box;

    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 8px;

    padding: 0;
    margin: 0 0 24px;

    width: 100%;
}

.list-video {
    padding: 0;
    margin: 0;

    max-height: 80vh;
    overflow: overlay;

    .item-video {
        padding: 0 15px 0 0;
        cursor: pointer;
        display: block;

        &:hover {
            background: rgba(0, 85, 255, 0.06);
        }

        &.active {
            background: rgba(0, 85, 255, 0.06);
        }
    }

    .title-video {
        margin: 10px 0 7px 0;
        display: flex;
        align-items: center;

        .icon-check {
            margin-left: 23px;
        }

        h3 {
            margin: 0 0 0 7px;
            padding: 0;
            font-size: 16px;
            line-height: 23px;
            font-family: "Montserrat";
            font-style: normal;
        }

        .icon-lock {
            margin-left: auto;
        }
    }

    .desc-video {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;

        color: #000000;
        margin-left: 47px;
    }

    .status-video {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 23px;

        display: flex;
        align-items: center;
        text-transform: uppercase;

        margin: 14px 0 6px 47px;

        p {
            color: #0049f6;
            margin: 0;
            padding: 0;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 23px;
        }

        .icon-star {
            margin: 0 7px;
        }
    }
}


.todo-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.todo-content {
    padding: 40px 20px;
    overflow-y: auto;
    max-height: 100%;
}

.todo-input {
    width: 100%;
    margin-top: auto;
    margin-bottom: 20px;
    position: relative;

    .icon {
        position: absolute;
        right: 70px;
        top: 15px;
        cursor: pointer;
    }
}

.todo-input input {
    border: 1px solid #EEEEEE;
    height: 60px;
    width: 95%;
    padding-left: 60px;
}

.todo-input img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16px;
}

.bot,
.user {
    display: flex;
}



.bot {
    justify-content: flex-start;
}



.user {
    justify-content: flex-end;
    margin: 20px 0;
}

.bot-wrapper,
.user-wrapper {
    font-family: var(--font-arial);
    color: #000000;
    width: 40%;
}


.bot-wrapper {
    display: flex;
    position: relative;
}

.bot-content.intro {
    background: #FBFDFF;
}

.bot-right {
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    width: 100%;
}

.bot-content {
    padding: 16px;
    background: #f3f6fd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bot-content.intro {
    border-radius: 20px;
}



.bot-content img {
    width: 100%;
}

.bot-content audio {
    height: 40px;
    margin-bottom: 6px;
    width: 100%;
}



.user-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.bot-avt {
    margin-right: 15px;
}

.bot-avt img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.user-content {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    padding: 12px 26px;
    background-color: var(--blue-1);
    border-radius: 20px;
}

.bot-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    word-break: break-word;
    margin: 10px 0;

}

.bot-title.quiz {
    margin: 4px 0;
}

.bot-desc.quiz {
    color: var(--nature-sub-text);
}

.bot-main-ques {
    padding: 4px 12px;
}

.bot-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    display: flex;
    align-items: center;
}

.bot-desc.start {
    color: var(--blue-1);
    cursor: pointer;
    font-weight: 600;
    font-family: var(--font-mont);
    font-size: 16px;
    margin-bottom: 0;

}

.bot-question {
    border-radius: 20px;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
}

.bot-question img {
    width: 100px;
    object-fit: cover;
}


.gif {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 60px;
    bottom: 5px;
}

.bot-answer .item {
    padding: 8px 0px;
    display: flex;
    align-items: center;
    border-top: 1px solid #E2E8F0;
    cursor: pointer;
}


.bot-answer .item:first-child {
    border: none;
}

.bot-answer .item input {
    margin-left: 8px;
    cursor: pointer;
}

.bot-answer .item label {
    margin-bottom: 0;
    margin-left: 6px;
    margin-right: 8px;
    width: 100%;
    cursor: pointer;
    font-weight: 400;
    font-family: var(--font-roboto);
    line-height: normal;
}

.result-right {
    display: flex;
    flex-direction: column;
}

.result-right img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.result-content {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: var(--text-filed);

    background: rgba(29, 78, 216, 0.05);
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    padding: 8px 20px;
    margin-top: 12px;
}


@media (max-width: 1199.98px) {

    .bot-wrapper,
    .user-wrapper {
        width: 80%;
    }
}

@media (max-width:767.98px) {
    .user-wrapper {
        margin-right: 0;
    }
}

@media (max-width: 575.98px) {

    .bot-wrapper,
    .user-wrapper {
        width: 100%;
    }

    .bot-question {
        flex-direction: column;
    }

    .bot-question img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}