.mtz-cooperate {
    margin-top: 50px;

    text-align: center;
    padding: 15px;
    .mtz-cooperate-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #101840;
    }

    .mtz-cooperate-university {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            float: left;
            width: 140px;
            height: 100px;
            object-fit: cover;
        }
    }

    .mtz-dt {
        .mentor-introduce {
            width: 90% !important;
            position: relative;
            overflow: hidden;

            padding: 32px 24px;
            .ant-card-body {
                padding: 0;
                width: 100%;
                .it-main {
                    width: 100%;
                    & > * {
                        width: 100%;
                    }
                }
                .image {
                    position: relative;

                    .logo-img {
                        margin: 0 auto;
                        height: 140px;
                        width: 140px;
                        border-radius: 50%;
                    }
                }
                .it-butt {
                    width: 100%;
                    & > * {
                        width: 60%;
                        button {
                            border: 2px solid #e5e5e5;
                            width: 100%;
                        }
                    }
                }
                .sm-butt {
                    color: var(--defaultColor);
                    font-weight: 500;
                    border: 2px solid var(--defaultColor);
                }
            }
        }
    }
}

.book,
.point2 {
    position: absolute;
    top: 18%;
}
.book {
    right: 18%;
}
.point2 {
    left: 17%;
}
