.mtz-cooperate {
    margin-top: 50px;
    background: #f9fafc;
    text-align: center;
    padding: 15px;
    .mtz-cooperate-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #101840;
    }

    .mtz-cooperate-university {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            float: left;
            width: 140px;
            height: 100px;
            object-fit: cover;
        }
    }

    .mtz-dt {
        .logo-img {
            height: 70px;
            width: 100%;
            object-fit: contain;
        }
    }
}
