.category_card {
  overflow-y: auto;
  & > div {
    padding: 0 !important;
  }
}

.list_style {
  list-style: disc;
}
.position-fixed-div {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  height: 100vh;
}
