.form-button-style {
  min-width: 110px;
  min-height: 45px;
  color: var(--white);
  font-weight: 600;
  border: 2px solid #f2184f;
  background-color: red;
}h1{
  color: var(--white);
}

.title-form {
  text-transform: uppercase;
  line-height: 1.5;
}
