.mtz-submit-question {
    .question-container {
        background: #f4f7fd;
        border-radius: 5px;
        padding: 15px 20px;

        .question-description {
            padding: 0 20px;

            .ant-space {
                margin-bottom: 25px;
            }

            .title {
                font-size: 17px;
                font-weight: 700;
                line-height: 28px;
                color: #795ed5;
            }

            .title-label {
                font-weight: 400;
                color: #8f95b2;
            }
        }

        .video-react-controls-enabled,
        .video-react-video,
        .video-react-control-bar {
            border-radius: 10px !important;
        }

        .video-react-poster {
            background-size: cover !important;
            border-radius: 10px !important;
        }

        button.video-react-button.video-react-big-play-button.video-react-big-play-button-center {
            border-radius: 50% !important;
            width: 50px;
            height: 50px;
            background: #d9d9d9;
            transform: translate(50%, 0%);
        }

        .ant-picker {
            width: 100%;
        }

        // .ant-upload-select {
        //     width: 100%;
        //     .ant-btn {
        //         width: 100%;
        //         background: #ebf0ff;
        //     }
        // }

        // .ant-upload-list-item {
        //     position: unset !important;
        //     height: 10px !important;
        //     padding: 10px 0 !important;
        //     border: none !important;

        //     .ant-upload-list-item-name {
        //         cursor: pointer;
        //         color: #376bfb;
        //     }

        //     .ant-upload-list-item-thumbnail {
        //         display: none;
        //     }
        // }
    }
}
