.news-page-container {
  position: relative;
  padding: 50px 20px;
  max-width: 1400px;
  margin: auto;
  min-height: 110vh;
}
.flex-col {
  padding: 10px 0;
  line-height: 1.2;
  display: flex;
  gap: 20px;
}
.flex-col-fixed {
  display: flex;
  flex-direction: column;
}
.title-new {
  margin: 0 !important;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 0;
  color: #d72831;
}
.title-new:hover {
  text-decoration: underline;
}
.h2-title {
  padding-bottom: 30px;
  font-size: 32px;
  padding-left: 20px;
}
.pagi {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.title-ellipsis {
  max-width: 600px;
}
.title-ellipsis-fixed {
  max-width: 350px;
}
.fixed {
  overflow: scroll;
  padding: 20px;
  height: 1000px;
  min-width: 400px;
  position: absolute;
  right: 0;
}
.h2 {
  font-size: 28px;
  padding-bottom: 30px;
}
