.border-1-div {
  border: 1px solid;
  height: 70vh;
  width: 100%;
  overflow: scroll;
  line-height: 1.4;
  padding: 10px;
}

.border-2-div {
  border: 1px solid;
  height: 70vh;
  width: 100%;
  line-height: 1.4;
  overflow: scroll;
  padding: 0 10px;
}
.container-div-reading {
  padding: 20px;
  margin: auto;
}

.html-ques-choice {
  line-height: 1.4;
  margin: 10px 0 10px 0;
}
.listen-div-fixed {
  height: 100px;
  background-color: bisque;
  .div-in-part {
    padding: 10px 20px;
    background-color: bisque;
    width: 100%;
    height: 100%;
  }
}
