@import '../../../../components/GlobalStyles/responsive.scss';

.reading {
  height: 100%;
  overflow: hidden;
  .split-screen {
    display: flex;
    height: calc(100% - 78px);
    @include respond-to(xs) {
      flex-direction: column;
    }
    .left-panel,
    .right-panel {
      overflow: auto;
      min-width: 30%;
      padding: 12px;
      @include respond-to(xs) {
        min-height: 30%;
      }
    }

    .divider {
      cursor: ew-resize;
      width: 5px;
      background-color: var(--green);
      height: 100%;
      &:hover {
        background-color: var(--green-2);
      }
      @include respond-to(xs) {
        height: 5px;
        width: 100%;
        cursor: ns-resize;
      }
    }
  }
}
