.announcement {
    justify-content: center;
    background: linear-gradient(
        360deg,
        #ffffff 23.96%,
        rgba(255, 255, 255, 0) 100%
    );
    text-align: center;
    // line-height: 30px;
    position: relative;
    height: 120px;
    overflow: hidden;
    cursor: pointer;

    marquee {
        position: relative;
        padding: 0 50px;
        text-align: center;
        height: 120px;
    }
    .marquee-list {
        max-height: 120px;
        overflow-y: auto;
        padding: 10px 0;
    }
    .a-item-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .marquee-item {
        padding-bottom: 15px;
        width: 100%;
        color: #0d84e0;
        position: relative;
        .content {
            width: auto;
        }
        .ribbon {
            margin-left: 10px;
            position: absolute;
            top: -15px;
            height: 30px;

            .new-content {
                position: absolute;
                top: 2px;
                left: 5px;
                color: white;
            }
        }
    }
    .fade {
        position: absolute;
        inset: 0;
        z-index: 2;
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &::before {
            top: 0;
            background: linear-gradient(
                to bottom,
                rgb(255, 255, 255),
                rgba(255, 255, 255, 0.1) 100%
            );

            height: 50px;
        }

        &::after {
            bottom: 0;
            background: linear-gradient(
                to top,
                rgb(255, 255, 255),
                rgba(255, 255, 255, 0.1) 100%
            );

            height: 50px;
        }
    }
}
