.checkbox {
  width: 100%;
  & > span {
    width: 100%;
    text-align: center;
  }
  .checkboxCard {
    width: 100%;
    &:hover {
      background-color: var(--lighish-white);
      border: 1px solid var(--green);

      color: var(--green);
    }
  }
}

.checked {
  background-color: var(--greenBg);
  border: 1px solid var(--green);
  color: var(--green);
}
.disabled {
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray-2);
  color: var(--light-gray-2);
}
.answerMain {
  width: 100%;
}

.contentChecked {
  position: absolute;
  font-weight: 500;
  top: -8px;
  left: -8px;
  padding: 0 8px;
  border-radius: 20px;
  background-color: var(--whiteBg);
  border: 1px solid var(--green);
  color: var(--green);
}
.contentCheckedBorder {
  border: 1px solid var(--green);
}
