.image-detail {
    width: 50%;
}
.slick-prev,
.slick-next {
    display: none !important;
}
.slick-dots.slick-thumb {
    /* Thêm các quy tắc CSS của bạn vào đây */
    display: flex !important;
    justify-content: center;
    li {
        margin-right: 20px;
    }
}

.custom-paging-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    margin-top: -40px;
}

.question-detail {
    .question {
        img {
            width: 100%;
        }
    }
}
