.news-container {
    width: 100%;
    color: #101010;
    padding: 80px 0;
    text-align: center;
    background: white;
    .container-1200px {
        max-width: 1200px;
        margin: auto;
        h3 {
            font-size: 50px;
            font-weight: 700;
        }
        .title-container {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            .col {
                .content {
                    h4 {
                        font-size: 20px;
                    }
                    h4:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    .text {
                        color: #666666;
                        font-size: 16px;
                    }
                }
                display: flex;
                align-items: center;
                text-align: start;
                gap: 20px;
                .imgBox {
                    .imgIn {
                        border-radius: 10px;
                        width: 235px;
                        height: 160px;
                    }
                }
            }
        }
    }
}
.buttonMore {
    min-width: 110px;
    min-height: 45px;
    margin-top: 50px;
    color: #f2184f;
    font-weight: 600;
    border: 2px solid #f2184f;
}
