.news-container {
  color: #101010;
  padding: 80px 0;
  text-align: center;
  background: white;
  .container-1200px {
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
    .text-xs {
      color: #101010;
      font-size: 20px;
    }
    h3 {
      margin-top: 10px;
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 50px;
    }
    .col {
      .content {
        .titleNews {
          max-width: 300px;
          font-size: 20px;
          font-weight: 700;
        }
        h4:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        .text {
          max-width: 300px;
          margin-top: 10px;
          color: #666666;
          font-size: 16px;
        }
      }
      display: flex;
      align-items: center;
      text-align: start;
      gap: 20px;
      .imgBox {
        .imgIn {
          border-radius: 10px;
          min-width: 235px;
          min-height: 160px;
        }
      }
    }
  }
}

.buttonMore {
  border-radius: 10px;
  min-width: 110px;
  min-height: 45px;
  margin-top: 50px;
  color: #f2184f;
  font-weight: 600;
  border: 2px solid #f2184f;
}
.buttonMore:hover {
  color: white !important;
  background-color: #d72831 !important;
}

@media screen and (max-width: 900px) {
  .news-container {
    color: #101010;
    padding: 80px 20px;
    text-align: center;
    background: white;
    .container-1200px {
      .title-container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
      }
      .col {
        flex: none;
        flex-wrap: wrap;
        justify-content: center;
        .imgBox {
          .ant-image {
            width: 100%;
          }
          .imgIn {
            border-radius: 10px;
            width: 100% !important;
          }
        }
      }
    }
  }
}
