.ck-custom {
  position: relative;
  .ck-placeholder {
    color: #999;
    position: absolute;
    top: 52px;
    left: 10px;
    pointer-events: none;
    z-index: 2;
  }

  .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    min-height: 80px !important;
    border-radius: 0 0 4px 4px !important;
  }

  .ck-sticky-panel__content > * {
    border-radius: 4px 4px 0 0 !important;
    & :not(.ck-reset_all-excluded *) {
      border-radius: 4px !important;
    }
  }
}
