.menu {
    position: sticky;
    top: 30px;
    background-color: #eef2f4;
    z-index: 1020;
    border-top: 1px solid var(--gray86);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    .menuItem {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menuLabel {
            transition: 0.3s;
            cursor: pointer;
            color: var(--black);
            .chilMenu {
                display: none;
            }
            &:first-child {
                .labelItem {
                    position: relative;
                    padding: 15px 10px 15px 0;
                }
            }
            &:last-child {
                .labelItem {
                    position: relative;
                    padding: 15px 0 15px 10px;
                }
            }
            .labelItem {
                position: relative;
                padding: 15px 10px;
            }

            &:hover {
                color: #a70a00;
                .labelItem {
                    .arr {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%);
                        text-align: center;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid white;
                    }
                }
                .chilMenu {
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100vw;
                    background: white;
                    color: black;
                    display: flex;
                    padding: 0 5%;

                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08),
                        0 4px 12px rgba(0, 0, 0, 0.08);
                    z-index: 1020;
                    min-height: 300px;
                    .chil {
                        position: relative;
                        padding: 15px 10px;
                        transition: 0.3s;
                        cursor: pointer;
                        color: black;
                        &:hover {
                            color: #a70a00;
                        }
                    }
                }
            }
        }
    }
}
