.boxContainerFalse {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 10px;
  min-height: 150vh;
  padding: 0 10px 100px 10px;
  max-width: 1600px;
  margin: auto;
}
.boxContainerTrue {
  min-height: 150vh;
  padding: 0 10px 100px 10px;
}
.col1 {
  //   background-color: red;
}
.searchIcon {
  font-size: 20px;
  margin-top: 15px;
  margin-right: 20px;
}
.boxTabs {
  max-width: 1280px;
  margin: 0 auto;
}
.hr {
  margin: 30px 0;
  opacity: 0.2;
}
.boxVideoContent {
  background-color: #000;
  position: relative;
}
.col2 {
  padding-right: 10px;
  border-left: 1px solid #d1d7dc;
}
.h4Col2 {
  font-size: 22px;
  padding-bottom: 20px;
}
.onBoxCol2 {
  padding: 20px;
}
.scroll {
  overflow-y: scroll;
  max-height: 100vh;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.itemBoxCol2 {
  cursor: pointer;
  padding: 20px 0;
  display: flex;
  gap: 10px;
  border-top: 1px solid #d1d7dc;
}
.itemBoxCol2Active {
  background-color: #f7f9fa;
}
.itemBoxCol2:hover {
  // opacity: 0.8;
  background-color: #f7f9fa;
}
.typoCol2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}
.typoCol2Active {
  color: #a435f0;
}
.dot {
  top: 46%;
  right: -15%;
  border-radius: 100%;
  position: absolute;
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #1e6055;
}
.flex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.marginRight {
  font-weight: 800;
  color: #1e6055;
  position: relative;
  font-size: 12px;
  margin-right: 16px;
}
