.containerDivQuest {
  min-height: 150vh;
  padding: 0 10px;
}

.col1 {
}
.searchIcon {
  font-size: 20px;
  margin-top: 15px;
  margin-right: 20px;
}
.boxTabs {
  max-width: 1280px;
  margin: 0 auto;
}
.hr {
  margin: 30px 0;
  opacity: 0.2;
}
.boxVideoContent {
  background-color: #000;
  position: relative;
}
.col2 {
  padding-right: 10px;
  border-left: 1px solid #d1d7dc;
}
.h4Col2 {
  font-size: 22px;
  padding-bottom: 20px;
}
.onBoxCol2 {
  overflow: scroll;
  height: 85vh;
  padding: 20px;
}
.scroll {
  overflow-y: scroll;
  max-height: 100vh;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.itemBoxCol2 {
  cursor: pointer;
  padding: 20px 0;
  display: flex;
  gap: 10px;
  border-top: 1px solid #d1d7dc;
}
.itemBoxCol2Active {
  background-color: #f7f9fa;
}
.itemBoxCol2:hover {
  // opacity: 0.8;
  background-color: #f7f9fa;
}
.typoCol2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}
.typoCol2Active {
  color: #a435f0;
}
.dot {
  top: 46%;
  right: -15%;
  border-radius: 100%;
  position: absolute;
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #1e6055;
}
.flex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.marginRight {
  font-weight: 800;
  color: #1e6055;
  position: relative;
  font-size: 12px;
  margin-right: 16px;
}
.divLeftContent {
}
.boxContentLession {
  border-bottom: 1px solid #e4e8eb;
  height: 65vh;
  overflow: scroll;
  padding: 30px 50px;
}
.flexBest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #d1d7dc;
  font-weight: 600 !important;
}
.document {
  border-bottom: 1px solid #d1d7dc;
  padding: 0px 70px;
  height: 65vh;
  width: 100%;
  overflow: scroll;
}
@media screen and (max-width: 900px) {
  .document {
    border-bottom: 1px solid #d1d7dc;
    padding: 0px 10px;
    height: 65vh;
    width: 100%;
    overflow: scroll;
  }
}
.boxExam {
  border-bottom: 1px solid #d1d7dc;
  padding: 30px 70px;
  height: 65vh;
  max-width: 1500px;
  overflow: scroll;
}
.divTool {
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid #d1d7dc;
  padding: 0 20px;
  height: 50px;
}

.iconScale {
  scale: 1.5;
  margin: 0 12px;
  cursor: pointer;
}

.iconScale:hover {
  scale: 2;
  margin: 0 12px;
}
.scroll-div {
  overflow: scroll;
}
