@import '../GlobalStyles/responsive.scss';
.unBorderBottom > *::before {
  border: 1px solid transparent !important;
}
.borderBottom > *::before {
  border: 1px solid var(--gray86) !important;
}
.labelWeight {
  > * {
    font-weight: bold;
  }
}

.center > div > div {
  justify-content: center;
  @include respond-to(sm) {
    justify-content: flex-start;
    padding: 0 10px;
  }
  @include respond-to(xs) {
    justify-content: flex-start;
    padding: 0 10px;
  }
}

.end > div > div {
  justify-content: flex-end;
}
