@import '../../../components/GlobalStyles/responsive.scss';
.card {
  background-color: var(--whiteBg);
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;

  .avt {
    height: 100%;
    filter: brightness(0.8);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .editBg {
      opacity: 0;
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      .icon {
        position: absolute;
        color: white;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        svg {
          font-size: 35px;
        }
      }
    }
    &:hover .editBg {
      opacity: 1;
    }
  }
  .infor {
    padding: 20px;
    .mentorName {
      text-align: center;
      color: var(--green);
      padding: 12px;
      border: 2px dashed var(--green);
      border-radius: 4px;
    }
    .certificate {
      display: flex;
      justify-content: center;
      .cerCard {
        @include respond-to(sm) {
          width: 100%;
        }
        background-color: var(--red-2);
        & > * {
          padding: 3px 10px !important;
        }
        b {
          color: var(--white);
        }
        svg,
        h3 {
          color: var(--red);
        }
      }
    }
    .progress {
      .main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          color: var(--red);
        }
        p {
          font-size: 16px;
        }
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -30px;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: var(--whiteBg);
          filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.26));
          svg {
            color: var(--green);
          }
        }
      }
    }
    .data {
      text-transform: uppercase;
      a {
        text-transform: lowercase;
        color: var(--red);
      }
    }
    .icon {
      font-size: 35px;
      color: var(--red);
    }
  }
}

.cardUpdate {
  background-color: var(--whiteBg);
  margin: 0 auto;
  width: 900px;
  overflow: hidden;
  border-radius: 0 0 15px 15px;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
  @include respond-to(sm) {
    width: 100%;
  }
  @include respond-to(xs) {
    width: 100%;
  }
  @include respond-to(md) {
    width: 100%;
  }
  .avt {
    background-color: var(--green);
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .infor {
    padding: 20px;
    .data {
      text-transform: uppercase;
      a {
        text-transform: lowercase;
        color: var(--red);
      }
    }
    .icon {
      font-size: 35px;
      color: var(--red);
    }
  }
  filter: none;
}
