.card {
  background-color: var(--whiteBg);
  margin: 0 auto;
  width: 60vw;
  overflow: hidden;
  border-radius: 0 0 15px 15px;

  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));

  .avt {
    background-color: var(--green);
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .infor {
    padding: 20px;
    .data {
      text-transform: uppercase;
      a {
        text-transform: lowercase;
        color: var(--red);
      }
    }
    .icon {
      font-size: 35px;
      color: var(--red);
    }
  }
}
