.qiBody {
  min-height: 70vh;
  background-color: var(--whiteBg);
  .qiLeft {
    text-transform: uppercase;
    .name {
      color: var(--green);
    }
    .center {
      text-align: center;
    }
  }
  .qiRight {
    .avtPic {
      margin-top: 90px;
      height: 60vh;
      width: 100%;
      object-fit: contain;
    }
  }
}
