.breadcrumb-container {
    .ant-breadcrumb {
        font-weight: 500;
        font-size: 16px;
        color: #474d66;
        li:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
