.row-antd-sound {
  max-width: 620px;
  margin: auto;
  text-align: start;
  padding: 30px 0;
}
.p-sound-div {
  margin: 20px 0;
}
.p-sound {
  font-size: 16px;
}
.flex-sound-buttton {
  margin: 20px 0;
}
