.subject-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #101840;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8f95b2;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/* Dành cho điện thoại */
@media all and (min-width: 280px) {
    .prf-data {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        padding: 25px 0;

        .prf-data-item {
            cursor: pointer;
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 4px 4px 0 0;
            border: 1px solid rgb(235, 235, 235);
            .pic {
                height: 150px;
                width: 100%;
                object-fit: cover;
                background: #0d84e0;
            }
            .data {
                padding: 10px;

                .desc {
                    a {
                        color: #0d84e0;
                    }
                    .line {
                        height: 4px;
                        background: rgb(232, 232, 232);
                        position: relative;
                        border-radius: 4px;
                        .line-complete {
                            width: 68%;
                            height: 4px;
                            border-radius: 4px;
                            background: #fd7c48;
                        }
                    }
                }
            }
            .feed-back {
                padding: 10px;
                border-top: 1px solid rgb(235, 235, 235);
                .see {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 650px) {
    .prf-data {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        padding: 25px 0;

        .prf-data-item {
            cursor: pointer;
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 4px 4px 0 0;
            border: 1px solid rgb(235, 235, 235);
            .pic {
                height: 150px;
                width: 100%;
                object-fit: cover;
                background: #0d84e0;
            }
            .data {
                padding: 10px;
                .desc {
                    a {
                        color: #0d84e0;
                    }
                    .line {
                        height: 4px;
                        background: rgb(232, 232, 232);
                        position: relative;
                        border-radius: 4px;
                        .line-complete {
                            width: 68%;
                            height: 4px;
                            border-radius: 4px;
                            background: #fd7c48;
                        }
                    }
                }
            }
            .feed-back {
                padding: 10px;
                border-top: 1px solid rgb(235, 235, 235);
                .see {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}

/* Dành cho máy tính để bàn */
@media all and (min-width: 1920px) {
    .prf-data {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        padding: 25px 0;

        .prf-data-item {
            cursor: pointer;
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 4px 4px 0 0;
            border: 1px solid rgb(235, 235, 235);
            .pic {
                height: 150px;
                width: 100%;
                object-fit: cover;
                background: #0d84e0;
            }
            .data {
                padding: 10px;
                .desc {
                    a {
                        color: #0d84e0;
                    }
                    .line {
                        height: 4px;
                        background: rgb(232, 232, 232);
                        position: relative;
                        border-radius: 4px;
                        .line-complete {
                            width: 68%;
                            height: 4px;
                            border-radius: 4px;
                            background: #fd7c48;
                        }
                    }
                }
            }
            .feed-back {
                padding: 10px;
                border-top: 1px solid rgb(235, 235, 235);
                .see {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}

/* Dành cho laptop */
@media all and (min-width: 1280px) {
    .prf-data {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        padding: 25px 0;

        .prf-data-item {
            cursor: pointer;
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: 4px 4px 0 0;
            border: 1px solid rgb(235, 235, 235);
            .pic {
                height: 150px;
                width: 100%;
                object-fit: cover;
                background: #0d84e0;
            }
            .data {
                padding: 10px;
                .desc {
                    a {
                        color: #0d84e0;
                    }
                    .line {
                        height: 4px;
                        background: rgb(232, 232, 232);
                        position: relative;
                        border-radius: 4px;
                        .line-complete {
                            width: 68%;
                            height: 4px;
                            border-radius: 4px;
                            background: #fd7c48;
                        }
                    }
                }
            }
            .feed-back {
                padding: 10px;
                border-top: 1px solid rgb(235, 235, 235);
                .see {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}
