.mtz-subjects {
    @mixin medium {
        @media only screen and (max-width: 1327px) {
            @content;
            padding: 30px 40px;
        }
    }

    position: relative;

    .mtz-university-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-typography {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #474d66;
        }

        .reverse-btn {
            display: flex;
            align-items: center;
            flex-flow: row-reverse;
            background: #f3f6ff;
            color: #3366ff;
            font-weight: 500;
            border: 1px solid #f3f6ff;

            .anticon-caret-right {
                margin-left: 8px !important;
            }

            span {
                margin-inline-start: unset !important;
            }
        }
    }

    .ant-card {
        width: auto !important;
        margin-bottom: 10px;
        cursor: pointer;
        .ant-card-meta-description {
            color: #8f95b2;
            span {
                font-size: inherit;
                color: #2952cc;
            }
        }
    }
    .slick-slide {
        padding: 5px;
    }
}
.slick-prev:before,
.slick-next:before {
    content: '';
}
//.slick-prev{
//  left: 0 !important;
//}
