.videoMain {
  position: relative;
  transition: 0.5s;
  .video {
    border-radius: 4;
  }
  .playIcon {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    height: 50px;
    width: 50px;
    background-color: var(--whiteBg);
    border-radius: 50%;
    svg {
      color: var(--green);
      font-size: 40px;
    }
    transition: 0.5s;
  }
  &:hover {
    .playIcon {
      opacity: 1;
      background-color: var(--whiteBg);
    }
  }
}
