.mtz-homepage {
}
.mtz-ranking {
    .ranking-cup {
        @media only screen and (max-width: 1327px) {
            top: 0;
            right: -100px;
        }
    }
}
.video-react-controls-enabled {
    height: 100% !important;
}
