@import '../../../components/GlobalStyles/responsive.scss';
.mb-scroll {
  display: block;
  .buttTest {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
  }
  .intor-main {
    margin-top: 0;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    column-gap: 20px;

    &::-webkit-scrollbar {
      height: 0;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    .intro-card {
      min-width: 75%;
      @include respond-to(xs) {
        min-width: 75%;
        &:first-child {
          margin-left: 10px;
        }
        &:last-child {
          margin-right: 10px;
        }
      }
      @include respond-to(sm) {
        min-width: 75%;
        &:first-child {
          margin-left: 10px;
        }
        &:last-child {
          margin-right: 10px;
        }
      }
      @include respond-to(md) {
        min-width: 45%;
        &:first-child {
          margin-left: 10px;
        }
        &:last-child {
          margin-right: 10px;
        }
      }

      @include respond-to(lg) {
        min-width: 35%;
        &:first-child {
          margin-left: 10px;
        }
        &:last-child {
          margin-right: 10px;
        }
      }
    }
    @include respond-to(xl) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    @include respond-to(xxl) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
}
.intor-main {
  margin-top: 50px;

  .intro-card {
    border-radius: 6px;
    min-height: 268px;
    .icon-bg {
      display: flex;
      width: 64px;
      height: 64px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      color: var(--white);
    }
    .i-bg {
      background: linear-gradient(48deg, #ef7944 0%, #efb284 100%);
    }

    .i-bg2 {
      background: linear-gradient(48deg, #1e8382 0%, #63a9a8 100%);
    }
    .i-bg3 {
      background: linear-gradient(48deg, #fca023 0%, #fbb449 100%);
    }
    .i-bg4 {
      background: linear-gradient(48deg, #e12b2b 0%, #ff9494 100%);
    }
  }
}
.place,
.point {
  display: none;
  @include respond-to(lg) {
    display: block;
    position: absolute;
    top: 17%;
  }
  @include respond-to(xl) {
    display: block;
    position: absolute;
    top: 17%;
  }
  @include respond-to(xxl) {
    display: block;
    position: absolute;
    top: 17%;
  }
}
.place {
  right: 18%;
}
.point {
  left: 17%;
}
