.exam {
    position: relative;
    .exam-test {
        background-color: #f9fafc;
        height: 100%;
        padding: 20px;
        h3 {
            color: #0d84e0;
            font-size: 20px;
        }
        p {
            color: #8f95b2;
        }
        h4 {
            color: #fd7c48;
        }
        .ant-card {
            cursor: pointer;
        }
    }
    .test-image {
        position: relative;

        .hat {
            width: 80px;
            position: absolute;
            top: 15%;
            left: 20%;
            z-index: 1;
        }
        .coin {
            animation-delay: 0.5s;
            position: absolute;
            width: 60px;
            right: 5%;
            bottom: 30%;
            z-index: 1;
        }
    }
    img {
        width: 100%;
    }
}
