.video-content-container {
  background-image: url('../../../assets/images/backgrounds/background-clone.png');
  padding: 0 20px;
  width: 100%;
  border-radius: 20px;
  max-width: 1600px;
  margin: auto;
  background-color: #fff;
  border: 2px solid #d72831;
  .div-title {
    text-align: center;
    margin: auto;
    padding-top: 20px;
  }
  .container-1920px {
    display: flex;
    justify-content: center;
    position: relative;
    .content-div-container {
      padding: 30px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      max-width: 1300px;
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .div-inContent {
          cursor: pointer;
          box-shadow: 6px 6px 9px 2px rgba(0, 0, 0, 0.3);
          gap: 20px;
          border-radius: 0 15px 15px 0;
          align-items: center;
          display: flex;
          justify-content: space-between;
          font-weight: normal;
          font-size: 20px;
          .left {
            font-weight: 700;
            font-size: 28px;
            padding: 0 20px 0 15px;
            color: #d72831;
            border-right: 2px solid #c1b1b2;
          }
          .mid {
            line-height: 1.2;
          }
          .right {
            border-radius: 0 15px 15px 0;
            right: -30px;
            height: 67px;
            min-width: 40px;
            background-color: #d72831;
          }
        }
        .div-inContent:hover {
          color: #d72831;
        }
        .div-inContent-ves {
          cursor: pointer;
          box-shadow: 6px 6px 9px 2px rgba(0, 0, 0, 0.3);
          border-radius: 15px 0 0 15px;
          gap: 20px;
          align-items: center;
          justify-content: space-between;
          display: flex;
          font-weight: normal;
          font-size: 20px;
          .left-ves {
            border-radius: 15px 0 0 15px;
            height: 67px;
            min-width: 40px;
            background-color: #d72831;
          }
          .mid {
            line-height: 1.2;
          }
          .right-ves {
            font-weight: 700;
            color: #d72831;
            font-size: 28px;
            padding: 0 20px 0 15px;
            border-left: 2px solid #c1b1b2;
          }
        }
        .div-inContent-ves:hover {
          color: #d72831;
        }
      }
      .video-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        width: 465px;
        height: 265px;
        text-align: center;
        iframe {
          border: 0;
          right: -32%;
          top: -14%;
          position: absolute;
        }
      }
      @media screen and (max-width: 1290px) {
        .video-content {
          top: 0;
          margin-top: 30px;
          max-width: 1100px;
          width: 100%;
          max-height: 800px;
          height: 330px;
          text-align: center;
          iframe {
            border: 0;
            right: 0;
            top: 0;
            position: relative;
          }
        }
      }
      @media screen and (max-width: 1290px) {
        .content-div-container {
          gap: 20px;
          width: 100%;
          padding-bottom: 50px;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
        }
      }
    }
    @media screen and (max-width: 1290px) {
      .content-div-container {
        grid-template-columns: 1fr;
      }
    }
  }
  .div-title-bottom {
    padding-bottom: 50px;
    text-align: center;

    .number {
      font-size: 30px;
      color: #d72831;
      font-weight: 700;
    }
    .desc {
      color: #d72831;
      font-size: 18px;
    }
    .button {
      margin-top: 30px;
      .button-in {
        border: #d72831 !important;
        font-weight: 700;
        color: #fff;
        background-color: #d72831;
        scale: 1.2;
      }
      .button-in:hover {
        background-color: #d72831;
        color: white;
        scale: 1.3;
      }
    }
  }
}

.flex-steps {
  display: flex;
  align-items: start;
  gap: 20px;
}
.title-steps {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
@media screen and (max-width: 900px) {
  .title-steps {
    font-size: 22px;
  }
}
.desc-steps {
  margin-top: 10px;
  line-height: 1.4;
  color: #d72831;
  font-size: 18px;
}
.gap-steps {
  margin-top: 15px;
}
.desc-steps-top {
  margin-top: 10px;
  line-height: 1.4;
  color: #d72831;
  font-size: 28px;
  font-weight: 700;
}
.ucam-desc {
  background-color: #d72831;
  max-width: 600px;
  padding: 15px 0;
  border-radius: 25px;
  margin: 10px auto;
  h2 {
    color: white !important;
    font-size: 30px;
  }
}
.hr-class {
  width: 600px;
  margin: 30px auto;
  background: linear-gradient(to right, transparent 10%, #d72831 50%, transparent 90%);
  height: 2px;
}
.img-mac {
  width: 550px;
  margin-left: 300px;
}

@media screen and (max-width: 1290px) {
  .img-mac {
    display: none;
  }
  .hr-class {
    display: none;
  }
}
