.video-content-container {
    width: 100%;
    background-color: #d72831;
    .container-1920px {
        display: flex;
        justify-content: center;
        position: relative;
        min-height: 653px;
        .pencilSVG {
            position: absolute;
            bottom: 20%;
            right: 10%;
        }
        .ballSVG {
            position: absolute;
            top: 15%;
            left: 10%;
        }
        .birdSVG {
            position: absolute;
            top: 10%;
            right: 28%;
        }
        .content-div-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 80px;
            align-items: center;
            max-width: 1100px;
            .video-content {
                top: 0;
                max-width: 619px;
                height: 349px;
                text-align: center;
                iframe {
                    border-radius: 20px;
                }
            }
            @media screen and (max-width: 980px) {
                .video-content {
                    top: 0;
                    width: 100%;
                    max-height: 800px;
                    height: 349px;
                    text-align: center;
                    iframe {
                        border-radius: 0;
                    }
                }
            }

            .content {
                max-width: 483px;
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;
                .content-col {
                    .steps {
                        .iconTop {
                            color: #fff;
                        }
                        .iconBot {
                            color: #fff;
                        }
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        align-items: center;
                        .icons-steps {
                            color: white;
                            font-size: 14px;
                        }
                    }
                    h2 {
                        font-size: 40px;
                        font-weight: 700;
                    }
                    color: #fff;
                    .button-primary {
                        background-color: #f2184f;
                        color: white;
                        min-width: 152px;
                        min-height: 56px;
                        border: none;
                        border-radius: 8px;
                        :hover {
                            opacity: 0.8;
                        }
                    }
                    .button-primary {
                        margin-top: 30px;
                        background-color: #f2184f;
                        color: white;
                        min-width: 152px;
                        min-height: 56px;
                        border: none;
                        border-radius: 8px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .button-primary:hover {
                        opacity: 0.8;
                    }
                }
            }
            @media screen and (max-width: 900px) {
                .content {
                    padding: 0 20px;
                }
            }
        }
        @media screen and (max-width: 900px) {
            .content-div-container {
                gap: 20px;
                width: 100%;
                padding-bottom: 50px;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }
        }
    }
    @media screen and (max-width: 900px) {
        .container-1920px {
            width: 100%;
            .pencilSVG {
                display: none;
            }
            .ballSVG {
                display: none;
            }
            .birdSVG {
                display: none;
            }
        }
    }
}

.flex-steps {
    display: flex;
    align-items: start;
    gap: 20px;
}
.title-steps {
    font-size: 24px;
    font-weight: 600;
}
.desc-steps {
    margin-top: 10px;

    line-height: 1.4;
    color: #ffffffc2;
    font-size: 18px;
}
.gap-steps {
    margin-top: 35px;
}
.iconTopBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    border: 2px solid #fff;
    height: 32px;
    background-color: #d72831;
    border-radius: 100%;
}
.iconBotBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    width: 32px;
    height: 32px;
    background-color: #d72831;
    border: 2px solid #fff;
    border-radius: 100%;
}
