.pagination {
  display: flex;
  justify-content: end;
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .pagination {
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }
}
.div-row-container {
  margin-top: 40px;
}
