@import '../../../components/GlobalStyles/responsive.scss';
.list-course {
  .ls-title {
    text-align: center;
    .title {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 45px;
      @include respond-to(xs) {
        font-size: 25px;
      }
      @include respond-to(sm) {
        font-size: 30px;
      }
      @include respond-to(md) {
        font-size: 35px;
      }

      @include respond-to(lg) {
        font-size: 40px;
      }
    }
    .desc {
      font-size: 20px;
      font-weight: 400;
      @include respond-to(xs) {
        font-size: 16px;
      }
      @include respond-to(sm) {
        font-size: 18px;
      }
      @include respond-to(md) {
        font-size: 18px;
      }
    }
  }
  .courseBn {
    @include respond-to(xs) {
      display: none;
    }
    @include respond-to(sm) {
      display: none;
    }
  }
  .intro-card {
    border-radius: 6px;

    min-height: 400px;
    .cover {
      height: 180px;
      width: 100%;
      object-fit: cover;
    }
    .course-count {
      background-color: #f6f6f6;
      color: #a9a9a9;
    }
    .more {
      color: var(--defaultColor);
    }
  }
  border: 2px solid var(--red);
  border-radius: 25px;
  padding: 20px;
}
.ball,
.point3 {
  display: none;
  @include respond-to(xl) {
    display: block;
    position: absolute;
  }
  @include respond-to(xxl) {
    display: block;
    position: absolute;
  }
}
.point3 {
  right: 5%;
  top: 38%;
}
.ball {
  left: 7%;
  top: 5%;
}
